# --- VIRTUAL ENVIRONMENT ---
# Ignore the entire virtual environment folder
.venv/
venv/
*.pyc



# --- STREAMLIT CACHE/LOCAL STORAGE ---
# Ignore Streamlit's local cache files and folders
.streamlit/